<div id="portfolio" class="bg-gray-950 py-40">
  <!-- portfolio -->
  <div class="w-9/12 mx-auto">
    <div class="flex flex-col">
      <!-- judul -->
      <div class="flex items-center">
        <svg class="stroke-gray-400 stroke-2 h-5 w-5">
          <line x1="0" y1="10px" x2="10px" y2="10px" />
        </svg>
        <h2 class="uppercase text-xs font-extralight tracking-ngangkang">
          my works
        </h2>
      </div>
      <h3 class="text-3xl text-white">Featured Portfolios</h3>
    </div>

    <div class="grid grid-cols-4 gap-20 mt-20">
      <!-- cards -->
      <div class="rounded-lg shadow-lg overflow-hidden">
        <img
          class="object-cover h-48 opacity-50"
          src="images/companyprofile.png"
          alt=""
        />
        <div class="bg-white py-2 px-4">
          <h4 class="text-sm font-medium text-gray-800">Company Profile</h4>
          <h5 class="text-sm font-mono">Tailwind CSS</h5>
        </div>
      </div>

      <div class="rounded-lg shadow-lg overflow-hidden">
        <img
          class="object-cover h-48 opacity-50"
          src="images/dashboard.png"
          alt=""
        />
        <div class="bg-white py-2 px-4">
          <h4 class="text-sm font-medium text-gray-800">Dashboard</h4>
          <h5 class="text-sm font-mono">React JS</h5>
        </div>
      </div>

      <div class="rounded-lg shadow-lg overflow-hidden">
        <img class="object-cover h-48 opacity-50" src="images/lms.png" alt="" />
        <div class="bg-white py-2 px-4">
          <h4 class="text-sm font-medium text-gray-800">LMS</h4>
          <h5 class="text-sm font-mono">PHP</h5>
        </div>
      </div>

      <div class="rounded-lg shadow-lg overflow-hidden">
        <img
          class="object-cover h-48 opacity-50"
          src="images/agency.png"
          alt=""
        />
        <div class="bg-white py-2 px-4">
          <h4 class="text-sm font-medium text-gray-800">Agency Website</h4>
          <h5 class="text-sm font-mono">Wordpress</h5>
        </div>
      </div>
    </div>
  </div>
</div>
